@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY((30px));
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero-heading {
  animation: fadeIn 1.5s ease-out;
}
